# ==============================================================================
# LQMarket - Environment Variables Template
# ==============================================================================

PORT=3000
MONGODB_URI=mongodb+srv://huynhvanphong7402_db_user:rum7402@lqmarketcluster.hf9awbe.mongodb.net/?appName=LQMarketCluster
JWT_SECRET=LQMarket_2026_JWT_8f92Kx7mP4zQ1vN6sR3tY9uA5bC
CLIENT_URL=https://cholienquan.com,http://localhost:3000
PAYOS_CLIENT_ID=70f0f30e-bb9a-4543-9e27-7afedef2c57a
PAYOS_API_KEY=79d0ea14-7008-4556-a1b8-4c220f1e1bf9
PAYOS_CHECKSUM_KEY=054a5db2d2ed9fad1554f7229dc97cbd33f2e73d06c7c86546ba83f713edeeda
